:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }

  .main-container {
    overflow: hidden;
  }

  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: absolute;
  width: 150px;
  height: 30px;
  transition: .1s;
  top: 260px;
  left: 50px;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}
.text-check {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 35px;
  top:8px;
  font-family: Public Sans, var(--default-font-family);

}
.heart-container .svg-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}
  .main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    overflow: hidden;
  }
  .wrapper {
    position: absolute;
    width: 1035px;
    height: 648px;
    top: 64px;
    left: 87px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
  }
  .img {
    position: relative;
    width: 276px;
    height: 276px;
    margin: 196px 0 0 22px;
    background: url(../img-svg/logo.png)
      no-repeat center;
    background-size: cover;
    z-index: 22;
  }
  .box {
    position: absolute;
    width: 1048px;
    height: 653px;
    top: 89px;
    left: 119px;
    background: rgba(250, 250, 250, 0.98);
    border-radius: 30px;
  }
  .box-2 {
    position: absolute;
    width: 747px;
    height: 667px;
    top: 89px;
    left: 374px;
    background: rgba(255, 255, 255, 0.98);

    border-radius: 30px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .img-2 {
    position: absolute;
    width: 430px;
    height: 430px;
    top: 0;
    left: 77px;
    background: url(../img-svg/logo-chim.png)
      no-repeat center;
    background-size: cover;

  }

  .wrapper-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 400px;
    height: 55px;
    top: 99px;
    left: 25px;
    background: #ffffff;
    border: 1px solid #91b7d5;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  }
  .pic {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 11px;
    left: 8px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/023407/user-icon.svg)
      no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  .text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: calc(50% - 9.5px);
    left: calc(50% - 129px);
    color: rgba(0, 0, 0, 0.41);
    font-family: Public Sans, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
  }
  .box-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 55px;
    top: 181px;
    left: 23px;
    background: #ffffff;
    border: 1px solid #91b7d5;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
  }
  .img-3 {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 10px;
    left: 10px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/023407/password-icon.svg)
      no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  .pic-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 346px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/023407/visibility-icon.svg)
      no-repeat center;
    background-size: cover;
    transform: translate(0, -52.08%);
    overflow: hidden;
  }
  .text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: calc(50% - 11.5px);
    left: 76px;
    color: rgba(0, 0, 0, 0.21);
    font-family: Public Sans, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
  }
.text-wellcome {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 27px;
  left: 97px;
  color: #000000;
  font-family: Public Sans, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
}

  .box-4 {
    position: absolute;
    width: 91px;
    height: 15px;
    left: 302px;
    font-family: Public Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    text-decoration: underline;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 19;
  }
  .text-4 {
    position: relative;
    color: #d26767;
    font-family: Public Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 300;
    line-height: 15.275px;
    text-align: left;
    text-decoration: underline;
    text-transform: capitalize;
  }
  .text-5 {
    position: relative;
    color: #d26767;
    font-family: Public Sans, var(--default-font-family);
    font-size: 13px;
    font-weight: 300;
    line-height: 15.275px;
    text-align: left;
    text-decoration: underline;
    text-transform: lowercase;
  }
  .wrapper-3 {
    position: relative;
    right: 190.95px;
    z-index: 100;
    border-radius: 9999px;
    top: 100px;
  }

  .box-5 {
    position: relative;
    width: 183.05px;
    height: 58px;
    margin: 1px 0 0 0;
    border: 1px solid #292929;
    z-index: 30;
    overflow: visible auto;
    border-radius: 9999px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
  }
  .group {
    position: relative;
    width: 183px;
    height: 58px;
    margin: 0 0 0 0;
    background: #ffffff;
    z-index: 28;
    border-radius: 9999px;
    left: -100px;
  }
  .img-4 {
    position: absolute;
    top: 9px;
    right: 9px;
    bottom: 8px;
    left: 134px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/023407/button-background.png)
      no-repeat center;
    background-size: cover;
    z-index: 34;
    border-radius: 9999px;
  }
  .box-6 {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 1px 0 0 0;
    background: rgba(86, 8, 255, 0.79);
    border: 1px solid #252525;
    z-index: 35;
    overflow: visible auto;
    border-radius: 20px;
    box-shadow: 0 0 1px 0 #000000;
  }

  .text-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 115px;
    height: 25px;
    top: 15px;
    left: 24px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 17.600000381469727px;
    font-weight: 700;
    line-height: 20.625px;
    text-align: center;
    white-space: nowrap;
    z-index: 31;
  }

  .text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: calc(50% - 7px);
    left: calc(50% - 52.5px);
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 21px;
    top: 299px;
    left: 22px;
    color: #000000;
    font-family: Public Sans, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
  }

.section {
  position: relative;
  width: 507px;
  height: 445px;
  margin: 124px 0 0 184px;
}

.titile {
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  color: #000000;
  font-family: Public Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  top: 300px;
  left: 170px;
  text-align: center;
}
  .section-2 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 400px;
    left: 160px;
    border: 1px solid #91b7d5;
    z-index: 11;
    overflow: hidden;
    border-radius: 10px;
  }
  .pic-8 {
    position: relative;
    width: 28px;
    height: 29px;
    margin: 8px 0 0 9px;
    cursor: pointer;
    background-size: cover;
    z-index: 12;
    overflow: hidden;
  }
  .group-2 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 400px;
    left: 215px;
    cursor: pointer;

    border: 1px solid #91b7d5;
    z-index: 24;
    overflow: hidden;
    border-radius: 10px;
  }
  .pic-9 {
    position: relative;
    width: 28px;
    height: 29px;
    margin: 8px 0 0 9px;

    background-size: cover;
    z-index: 25;
    overflow: hidden;
  }
  .section-3 {
    position: relative;
    width: 263px;
    left: 260px;
    height: 18px;
    top: 50px;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 17.625px;
    text-align: center;
    text-overflow: initial;
    z-index: 4;
  }
  .text-b {
    position: relative;
    color: #000000;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }
  .text-c {
    position: relative;
    color: #665a00;
    font-family: Public Sans, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }

.input-box {
  flex-grow: 1;
  height: 100%;
  width: calc(100% - 50px); /* Adjust width to leave space for icon */
  border: none;
  outline: none;
  padding: 0 50px;
  background: transparent;
  font-family: Public Sans, var(--default-font-family);
  font-size: 18px;
  color: #000000;
}
  .text-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 79px;
    top: calc(50% - 254px);
    left: calc(50% - 20px);
    color: #080e8c;
    font-family: Rowdies, var(--default-font-family);
    font-size: 45px;
    font-weight: 400;
    line-height: 55.89px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
.wrapper-3 {
  position: absolute;
  top: 400px;
  right: 200px;
  z-index: 100;
  border-radius: 9999px;
}
.wrapper-3 button  {
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  z-index: 1000;
  position: relative;
  font-family: inherit;
  width: 195px;
  background: royalblue;
  border-radius: 16px;
  cursor: pointer;
  top :-100px;

}

.wrapper-3 button span {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}

.wrapper-3 button svg {
  display: block;
  left: 60px;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.wrapper-3 .svg-wrapper-1 {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.wrapper-3 button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.wrapper-3 button:hover svg {
  transform: translateX(0em) rotate(45deg) scale(1.1);
}

.wrapper-3 button:hover span {
  transform: translateX(1.2px);
}

.wrapper-3 button:active {
  transform: scale(0.95);
}

.wrapper-3 @keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
