.group-management-container{
    width: 100%;
    flex: 0.3;
}
.group-header{
    display: flex;
    flex-direction: row;
}
.back-button {
    margin-right: 10px;
    cursor: pointer;
    height: 35px;
    margin-top: 20px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
}
.back-button:hover {
    background-color: #dc3545;
}
.menu-tabs {
    display: flex;
    gap: 10px;
    margin: 15px 0;
    flex-direction: column;
  }
  
  .menu-tabs button {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
  }
  
  .menu-tabs button.active {
    background-color: #007bff;
    color: white;
  }
  
  .confirm-buttons button {
    margin-left: 6px;
  }
  
  .danger-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  